@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.under-construction {
  display: none;
}

body {
  background-color: #111111;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

section {
  width: 100%;
  max-height: 100vh;
  position: relative;
}

.container {
  width: 80%;
  height: 85%;
  margin: auto;
  background: #111111;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #111111;
  scroll-snap-align: start;
}

nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
  position: relative;
}

.brand {
  color: #111111;
}

.brand .logo {
  position: relative;
  width: 40px;
  height: 40px;
  background: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.brand .logo::before {
  content: "SK";
  position: relative;
  width: 100%;
  height: 100%;
  color: #111111;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: 0.2s;
}

.brand .logo:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: #111111;
  border-radius: 45%;
  animation: spin 5s ease-in-out forwards;
}

.nav-links .burger {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  z-index: 999 !important;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: 0.3s;
  cursor: pointer;
}

.nav-links .burger .line1,
.nav-links .burger .line2,
.nav-links .burger .line3 {
  width: 2rem;
  height: 3px;
  background: white;
  margin: 2px 0;
  transition: 0.5s;
}

.nav-links .burger .line2 {
  width: 1.6rem;
}

.nav-links .burger .line3 {
  height: 2px;
  width: 1.2rem;
}

.rotate {
  transform: rotate(90deg);
  right: -3% !important;
}

.rotate .line1 {
  width: 1.8rem !important;
  transform: rotate(45deg) translate(0, 5px);
  background: #000 !important;
}

.rotate .line2 {
  width: 1.8rem !important;
  transform: rotate(-45deg) translate(0, -5px);
  background: #000 !important;
}

.rotate .line3 {
  transform: scale(0);
}

.side-navbar {
  position: absolute;
  width: 200px;
  height: 100vh;
  top: 0;
  right: -50%;
  background: #fff;
  z-index: 9;
  transition: 0.5s ease-in-out;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.side-navbar ul {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.side-navbar ul li {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.side-navbar ul li a {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
  color: #111111;
}

.side-navbar ul li:hover {
  width: 200%;
  color: white;
  background: #111111;
}

.side-navbar ul li:hover a {
  color: white;
  letter-spacing: 3px;
}

.side-navbar.show {
  right: 0% !important;
  transform: scale(1);
  transition: 0.5s ease;
}

.svg {
  animation: moveRect 5s ease-in-out infinite alternate;
  transform-origin: center;
}

.svg1 {
  height: 600px;
  width: 600px;
  background: url("../../public/res/rect.svg");
  background-size: cover;
  opacity: 0.4;
  transform: rotate(-60deg);
  position: absolute;
  top: -30%;
}

.svg2 {
  height: 400px;
  width: 400px;
  background: url("../../public/res/rect.svg");
  background-size: cover;
  bottom: -130px;
  position: absolute;
  bottom: -10%;
}

.svg3 {
  height: 300px;
  width: 300px;
  background: url("../../public/res/rect.svg");
  background-size: cover;
  transform: rotate(-60deg);
  position: absolute;
  top: 20%;
  right: 0;
}

.svg4 {
  height: 500px;
  width: 500px;
  background: url("../../public/res/rect.svg");
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: rotate(160deg);
  z-index: 1;
}

.heading-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-title h4 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1em;
  color: #afafaf;
  text-align: center;
}

.heading-title h1 {
  font-size: 5rem;
  color: white;
  position: relative;
}

.heading-title h1:after {
  content: "";
  position: absolute;
  width: 3em;
  height: 2px;
  bottom: 10px;
  left: 0px;
  background: #ffc306;
  animation: moveLine 3s ease-in-out alternate infinite;
}

.viewProject {
  width: 160px;
  height: 45px;
  background: none;
  border: 1px solid #afafaf;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.viewProject .btn-overlay {
  position: absolute;
  width: 0%;
  height: 100%;
  left: -10%;
  background: #ffc306;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.viewProject .btn-overlay i {
  transform: scale(0);
  color: #111111;
  font-size: 1.2em;
  transition: 0.2s;
  transition-delay: 0.1s;
}

.viewProject button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  margin-top: 2px;
  background: none;
  border: none;
  color: #afafaf;
  font-size: 0.9em;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

.viewProject:hover {
  border: 1px solid #5f5f5f;
}

.viewProject:hover .btn-overlay {
  width: 100% !important;
  left: 0%;
}

.viewProject:hover .btn-overlay i {
  transform: scale(1);
  margin: 0 0 0px 10px;
}

.viewProject:hover button {
  width: 100%;
  color: #111111;
  transform: translateX(10px);
}

.about {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.about h1 {
  align-self: flex-start;
  font-size: 4.5rem;
  color: rgba(230, 230, 230, 0.4);
}

.about .container .about-description {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about .container .about-para {
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.about .container .about-para h1 {
  font-size: 3.2rem;
  color: white;
  letter-spacing: 3px;
  position: relative;
}

.about .container .about-para h1:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0px;
  left: 0px;
  background: #ffc306;
  animation: moveLine 3s ease-in-out alternate infinite;
}

.about .container .about-para h3 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.about .container .about-para p {
  width: 90%;
  margin-top: 10px;
  color: #afafaf;
  font-size: 1rem;
}

.about .viewProject {
  margin-top: 1.2em;
  padding: 0;
  height: 40px;
}

.about-img {
  width: 40%;
  position: relative;
}

.about-img::before {
  content: "";
  position: absolute;
  width: 17.5rem;
  height: 21.8rem;
  bottom: 5rem;
  right: 0px;
  background: #ffc306;
}

.about-img::after {
  content: "";
  position: absolute;
  width: 17.5rem;
  height: 21.8rem;
  z-index: 99;
  bottom: 2.5rem;
  right: 2.5rem;
  background: url("../../public/res/aboutImg.png") no-repeat center;
  background-size: cover;
}

.about-skills {
  text-align: center;
  margin-top: 1.5rem;
}

.about-skills h1 {
  font-size: 2.5rem;
  color: white;
}

.about-skills .skills-container {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}

.about-skills .skill-card {
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px 0px;
  transition: 0.3s;
  text-align: center;
  background-image: linear-gradient(#111111, #111111), linear-gradient(0deg, #ffffff6b, rgba(255, 255, 255, 0.103));
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-origin: padding-box, border-box;
  background-size: 100% 100%, 100% 200%;
  background-position: 0 0, 0 100%;
  transition: all 0.5s;
}

.about-skills .skill-card:hover {
  transform: translateY(-10px);
  background-image: linear-gradient(#111111, #111111), linear-gradient(0deg, rgba(255, 255, 255, 0.151), #ffffff79);
}

.about-skills .skill-card img {
  margin: 0 0 10px;
}

.about-skills .skill-card .card-heading {
  margin: 0 0 30px;
}

.about-skills .skill-card .card-heading h3 {
  letter-spacing: 1px;
  color: white;
}

.about-skills .skill-card .card-heading p {
  font-size: 0.9rem;
  color: #d6d6d6;
}

.about-skills .skill-card .skill-tech {
  margin-top: 10px;
}

.about-skills .skill-card .skill-tech p {
  font-size: 1rem;
  color: #d6d6d6;
}

.about-skills .ux-card {
  background-image: linear-gradient(#111111, #111111), linear-gradient(-45deg, rgba(255, 255, 255, 0.11), #ffffff9a);
}

.about-skills .web-card {
  background-image: linear-gradient(#111111, #111111), linear-gradient(45deg, rgba(255, 255, 255, 0.11), #ffffff9a);
}

.about-skills .illustration-card {
  background-image: linear-gradient(#111111, #111111), linear-gradient(-150deg, rgba(255, 255, 255, 0), #ffffff79);
}

.projects {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.projects h1 {
  align-self: flex-start;
  font-size: 4.5rem;
  color: rgba(230, 230, 230, 0.4);
}

.projects .project-description {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  color: white;
}

.projects .project-description .project-grid {
  width: 100%;
  color: white;
  position: relative;
}

.projects .project-description .project-grid h1 {
  font-size: 3rem;
  position: absolute;
  color: white;
  letter-spacing: 3px;
  top: 40px;
}

.projects .project-description .project-grid h1:after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 2px;
  bottom: 0px;
  left: 0px;
  background: #ffc306;
  animation: moveLine 3s ease-in-out alternate infinite;
}

.project-nav {
  display: flex;
  width: 100%;
  margin: 10rem 0 3rem;
  flex-wrap: wrap;
}

.project-nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.project-nav ul .active-border {
  position: absolute;
  left: 2.8%;
  bottom: 1px;
  width: 14.5%;
  height: 2px !important;
  padding: 0;
  margin: 0 auto;
  background: #ffc306;
  transition: 0.4s;
  z-index: 99;
}

.project-nav ul li {
  width: 20%;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  padding: 10px 0;
  margin: 0 10px 0 10px;
  letter-spacing: 1px;
}

.project-nav ul li span {
  transition: 0.5s;
}

.project-card-grid {
  max-width: 90%;
  min-height: 70vh;
  margin: 5em auto 0;
  overflow: hidden;
}

.project-card-grid .project-card {
  height: 14em;
  width: 100%;
  display: flex;
}

.project-card-grid .project-card img {
  width: 25em;
}

.project-card-grid .project-card .project-card-content {
  margin: 0.8rem 0 0.8rem 3.8rem;
}

.project-card-grid .project-card .project-card-content h5 {
  color: #777777;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 2px;
}

.project-card-grid .project-card .project-card-content h3 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.project-card-grid .project-card .project-card-content h6 {
  width: 100%;
  color: #afafaf;
  font-size: 1em;
  font-weight: 400;
}

.project-card-grid .project-card .project-card-content .tech-used {
  margin-top: 8px;
}

.project-card-grid .project-card .project-card-content .viewProject {
  margin-top: 1.2em;
  padding: 0;
  height: 40px;
}

.project-card-grid .project-card:nth-child(2) {
  flex-direction: row-reverse;
  margin: 80px 0 0;
}

.project-card-grid .project-card:nth-child(2) .project-card-content {
  margin: 10px 0px 0 0px;
}

.project-card-grid .project-card:nth-child(2) .project-card-content h6 {
  width: 95%;
}

.project-card-grid a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contact {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.contact h1 {
  align-self: flex-start;
  font-size: 4.5rem;
  color: rgba(230, 230, 230, 0.521);
}

.contact .contact-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  color: white;
  position: relative;
}

.contact .contact-description h1 {
  font-size: 3.2rem;
  color: white;
  letter-spacing: 3px;
  margin-top: 3.5rem;
  position: relative;
}

.contact .contact-description h1:after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 2px;
  bottom: 0px;
  left: 0px;
  background: #ffc306;
  animation: moveLine 3s ease-in-out alternate infinite;
}

.contact-form {
  display: flex;
  margin-top: 80px;
}

.contact-form .form-container {
  min-width: 50%;
}

.contact-form .form-container .form-input,
.contact-form .form-container .form-group {
  width: 90%;
  display: flex;
  align-items: center;
}

.contact-form .form-container .form-input:not(:first-child),
.contact-form .form-container .form-group:not(:first-child) {
  margin-top: 40px;
}

.contact-form .form-container .form-input span,
.contact-form .form-container .form-group span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.contact-form .form-container .form-input span input,
.contact-form .form-container .form-group span input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-size: 1.1em;
  outline: none;
  color: white;
}

.contact-form .user i {
  margin-top: 3px;
}

.contact-form span {
  border: 1px solid #454545;
}

.contact-form span i {
  font-size: 1em;
  padding: 0 1rem 0 1rem;
  color: #777777;
}

.contact-form span:focus-within {
  border: 1px solid #777777;
}

.contact-form span:focus-within i {
  color: #afafaf;
}

.contact-form .form-group span {
  align-items: flex-start !important;
}

.contact-form .form-group span i {
  padding: 7px 15px 0 15px !important;
}

.contact-form .form-group textarea {
  width: 100%;
  height: 200px;
  background: none;
  border: none;
  font-size: 1.1em;
  color: white;
  outline: none;
}

.contact-form .viewProject {
  border-color: #454545;
}

.contact-form .viewProject:hover {
  transform: translateX(0);
}

.form-info-container {
  min-width: 50%;
}

.form-info-container .form-info {
  width: 90%;
  min-width: 50%;
  min-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 3rem 0;
}

.form-info-container .form-info .form-info-data {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
}

.form-info-container .form-info .form-info-data h4 {
  min-width: 30%;
  margin: 0 3rem 0;
  font-weight: 400;
  font-size: 1.1rem;
  color: #afafaf;
  letter-spacing: 1px;
}

.form-info-container .form-info .form-info-data p {
  width: 80%;
  font-weight: 300;
  font-size: 1.1rem;
  color: #afafaf;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.form-info-container .form-info-links {
  margin-left: 3rem;
  display: flex;
}

.form-info-container .form-info-links a {
  margin: 0 2rem 0 0;
}

.form-info-container .form-info-links a i {
  background: #45454562;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 1.1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afafaf;
  transition: 0.3s;
}

.form-info-container .form-info-links a:hover i {
  color: #ffc306;
  transform: scale(1.1);
}

footer {
  padding: 15px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #777777;
  background: #000;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc306;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(-500deg);
  }
}

@keyframes moveRect {
  0% {
    transform: translateY(0px) scale(1) rotate(0);
  }
  100% {
    transform: translateY(10px) scale(1.1) rotate(5deg);
  }
}

@keyframes moveLine {
  0% {
    width: 50px;
  }
  100% {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .about-img::before {
    bottom: 8rem;
  }
  .about-img::after {
    bottom: 5.5rem;
  }
  .project-card-grid {
    width: 100%;
  }
  .form-info-container .form-info-links {
    margin: 0 1rem;
    display: flex;
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 15px;
  }
  .heading-title h1 {
    font-size: 4rem;
  }
  .about-skills .skill-card {
    padding: 20px 10px;
    width: 15rem;
  }
  .about-skills .skill-card .skill-tech {
    margin-top: 10px;
  }
  .about-skills .skill-card .skill-tech p {
    font-size: 13px;
    color: #d6d6d6;
  }
  .about-skills h3 {
    font-size: 1rem;
  }
  .about-skills p {
    font-size: 0.8rem;
  }
  .project-card-grid {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .project-card-grid .project-card {
    font-size: 12px;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .project-card-grid .project-card img {
    width: 20em;
    height: 14em;
  }
  .project-card-grid .project-card .project-card-content {
    margin: 0 0 0 20px;
    padding: 0;
  }
  .viewProject {
    padding: 0;
    height: 40px;
    width: 130px;
  }
  .contact .viewProject {
    width: 150px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 90%;
  }
  .side-letter {
    display: none;
  }
  .about {
    width: 100%;
  }
  .about .viewProject {
    font-size: 13px;
  }
  .projects {
    width: 100%;
  }
  .projects .viewProject {
    font-size: 13px;
  }
  .contact {
    width: 100%;
  }
  .projects .container {
    max-height: 90vh;
  }
  .projects .container .viewProject {
    transform: translateX(-10px);
    height: 30px;
  }
  .project-card-grid {
    max-width: 100%;
    margin: 0 !important;
  }
  .contact-form .viewProject {
    width: 90%;
  }
  .contact-form .viewProject:hover button {
    transform: translateX(0px);
  }
  .contact-form i {
    display: none;
  }
  .form-info-container .form-info {
    margin: 1rem;
  }
  .form-info-container .form-info h4 {
    margin: 0 !important;
  }
  .form-info-container .form-info-links {
    margin: 0 0rem;
    display: flex;
  }
}

@media (max-width: 800px) {
  .under-construction {
    display: block;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .under-construction h1 {
    font-size: 2.5em;
  }
  section {
    display: none;
  }
}
